body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url();
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(55, 24, 233);
}

.account-sections {
    display: flex;
    justify-content: space-between;
}

.account-section {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.account-section:hover {
    background-color: #f5f5f5;
}

.saving {
    background-color: #3498db;
    color: #fff;
}

.current {
    background-color: #e74c3c;
    color: #fff;
}

.loan {
    background-color: #2ecc71;
    color: #fff;
}

.account-details {
    display: none;
    margin-top: 10px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.account-details p {
    margin: 5px 0;
}
